.gridcate {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffffe;
  display: grid;
  grid-template-areas:
    'nav nav '
    'apre apre'
    'aside cata'
    'aside cata'
    'aside cata'
    'aside cata'
    'footer footer';

  grid-template-columns: 2fr 8fr;

  grid-template-rows: auto auto repeat(4, 1fr) auto;
  gap: 10px;

  .Navc {
    grid-area: nav;
  }

  .apresentacao {
    grid-area: apre;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .asfiltro {
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #a3a3a3;
    flex-direction: column;
    background-color: #f3f4f6;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 1rem;

    input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #333; /* stroke da borda */
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
    
    ul {
        list-style-type: none;
        li input {
          margin-right: .5rem;
        }
    }

     h2 {
      font-size: 1.5rem;
      font-weight: 700;
      
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
}

.descricaoani {
  grid-area: cata;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .figures {
    display: flex;
    align-items: center;
    border: 1px solid #9c27b0;

    background-color: #e1bee7;

    border-radius: 12px;
  }
}

.footercat {
  grid-area: footer;
}
